@import '../../variables';

.AuthenticationLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: 'logo image' 'form image';

  .AuthenticationLayout-logo {
    grid-area: logo;
    justify-self: left;
    padding-left: 30px;
    width: 200px;
  }

  .AuthenticationLayout-form {
    grid-area: form;
  }

  .AuthenticationLayout-graphics {
    width: 100%;
    height: 100%;
    background: url('../../../public/assets/images/background.png');
    grid-area: image;
  }

  .AuthenticationLayout-caption {
    text-align: center;
    color: $color-blue;
    font-size: 20px;
    font-weight: $font-weight-semi-bold;
  }

  .AuthenticationLayout-dividerSection {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
  }

  .AuthenticationLayout-divider {
    margin: 10px 0;
  }
}

.AuthenticationMobileLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  justify-items: center;
  align-items: center;

  .AuthenticationMobileLayout-logo {
    justify-self: left;
    padding-left: 30px;
    width: 200px;
  }

  .AuthenticationMobileLayout-form {
    padding: 20px;
  }

  .AuthenticationMobileLayout-caption {
    text-align: center;
    color: $color-blue;
    font-size: 20px;
    font-weight: $font-weight-semi-bold;
  }

  .AuthenticationMobileLayout-dividerSection {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
  }

  .AuthenticationMobileLayout-divider {
    margin: 10px 0;
  }
}
