@import '../../../variables.module.scss';

.PhoneInputInput {
  border: 0ch;
  &:hover,
  &:focus {
    //border: 2px solid $primary-color2;
    background-color: #e3e3e3;
    color: $primary-color2;
  }

  &::placeholder {
    color: rgba($primary-color2, 0.8);
  }
}
