.Diamond-Btn.ant-btn {
  padding: 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
  border: none;
  cursor: pointer;
  position: relative;
  color: rgba(#394a7e, 0.5);
  margin: 10px 20px;
  transform: rotate(45deg);

  img {
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);

    path {
      fill: #fff;
    }
  }

  .Btn-img {
    display: block;
  }

  .Btn-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    transform: rotate(-45deg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
  }

  &.highlight {
    opacity: 1;
  }

  &.show {
    .inner-1,
    .inner-2 {
      visibility: visible;
    }
    .Btn-img {
      display: none;
    }
    .Btn-text {
      display: block;
    }
  }

  &.blue {
    background-color: transparent;
    border-color: #394a7e;
    &.show,
    &:hover {
      border-color: #394a7e;
    }
    .btn-inner {
      background-color: #394a7e;
      border-color: #394a7e;
      &:hover {
        background-color: #394a7e;
        border-color: #394a7e;
        opacity: 0.8;
      }
      &.show {
        background-color: #394a7e;
        border-color: #394a7e;
        opacity: 0.8;
      }
    }
  }

  &.green {
    background-color: transparent;
    border-color: #59AA8E;
    &.show,
    &:hover {
      border-color: #59AA8E;
    }
    .btn-inner {
      background-color: #59AA8E;
      border-color: #59AA8E;
      &:hover {
        background-color: #59AA8E;
        border-color: #59AA8E;
        opacity: 0.8;
      }
      &.show {
        background-color: #59AA8E;
        border-color: #59AA8E;
        opacity: 0.8;
      }
    }
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active,
  &.disabled:focus {
    background-color: #e5ebe1 !important;
    border-color: #e5ebe1;
    color: #e5ebe1;
    opacity: 0.3;
    cursor: default;

    .inner-1,
    .inner-2 {
      visibility: hidden;
    }
  }
  .inner-1,
  .inner-2 {
    position: absolute;
    visibility: hidden;
  }
  .inner-1 {
    top: -20px;
    right: 90px;
  }

  .inner-2 {
    bottom: -20px;
    left: 90px;
  }

  .btn-inner {
    background-color: #394a7e;
    border-color: #394a7e;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 15px !important;
      width: 15px !important;
    }
  }
}
