.Diamond-Btn.ant-btn {
    padding: 15px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    color: rgba(#394A7E, 0.5);
    margin: 16px 20px;
    transform: rotate(45deg);
    opacity: 0.5;

    img {
        height: 30px;
        width: 30px;
        transform: rotate(-45deg);

        path {
            fill: #fff;
        }
    }

    &.highlight {
        opacity: 1;
    }

    &:active,
    &:focus {
        .inner-1,
        .inner-2 {
            visibility: visible;
        }
    }

    &.primary {
        background-color: #394A7E;
        border-color: #394A7E;
        &:hover {
            background-color: #394A7E;
            border-color: #394A7E;
        }
        &:active,
        &:focus {
            background-color: rgba(#394A7E, 0.5);
            border-color: transparent;

        }
        .btn-inner {
            background-color: #394A7E;
            border-color: #394A7E;
            &:hover {
                background-color: #394A7E;
                border-color: #394A7E;
            }
            &:focus,
            &:active {
                background-color: #394A7E;
                border-color: #394A7E;
                opacity: 0.5;
            }
        }
    }

    &.secondary {
        background-color: #CD6052;
        border-color: #CD6052;
        &:hover {
            background-color: #CD6052;
            border-color: #CD6052;
        }
        &:active,
        &:focus  {
            background-color: rgba(#CD6052, 0.5);
            border-color: transparent;
        }

        .btn-inner {
            background-color: #CD6052;
            border-color: #CD6052;
            &:focus,
            &:active {
                background-color: #CD6052;
                border-color: #CD6052;
                opacity: 0.5;
            }
        }
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active,
    &.disabled:focus {
        background-color: #E5EBE1;
        border-color: #E5EBE1;
        color: #E5EBE1;
        opacity: 0.3;
        cursor: default;

        .inner-1,
        .inner-2 {
            visibility: hidden;
        }
    }
    .inner-1,
        .inner-2 {
            position: absolute;
            visibility: hidden;
        }
        .inner-1 {
            top: -20px;
            right: 70px;
        }

        .inner-2 {
            bottom: -20px;
            left: 70px;
        }

        .btn-inner {
            background-color: #394A7E;
            border-color: #394A7E;
            border-radius: 100px;
            width: 40px;
            height: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 15px !important;
                width: 15px !important;
            }

            &:hover,
            &:focus,
            &:active {
                background-color: #394A7E;
                border-color: #394A7E;
                opacity: 0.5;
            }
        }
}