@import '../../../variables.module.scss';

.CodeInputWrap {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.Security-Description {
  font-family: 'Inter',  sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $primary-color2;
  margin-bottom: 10px;

}

@media (max-height: 670px) {
  .Security-Description {
      margin-bottom: 50px;
  }
}