@import '../../../variables.module.scss';

.Auth-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .recaptcha{
    margin-top: 25px;
  }

.Question-Auth-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: start;
    height: 100%;
    width: 100%; 
  }
  
  .Auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .Security-title {
    font-family: $font-title;
    display: flex;
    flex-direction: column;
    align-items: left !important;
    justify-content: left !important;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: bold;
    font-weight: 400;
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #000000;
    padding-top: 50px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
}
  
  .Auth-title {
    color: #6A2C70;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: clamp(0px, 2.5vh, 96px);
  }

  .Verification-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 100%; */
  }
  .Verification-title {
    font-family: $font-title;
    display: flex;
    flex-direction: column;
    align-items: left !important;
    justify-content: left !important;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: bold;
    font-weight: 400;
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #000000;
    padding-top: 50px;
    background-color: #fff;
    width: 100%;
     margin-bottom: 80px;
  }
  .Verification-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .input-element-wrapper-password {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    &btn {
      margin-bottom: 4px;
    }
  }

.app-Input {
    width: 100%;
    border-radius: 100px;
    margin-bottom: 14px;
    padding: 18px 20px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid rgba(#6A2C70,0.42);
    background-color: rgba(#fff, 0.6);
    color: #6A2C70;
    font-size: 20px;
    line-height: 24px;

    &:hover,
    &:focus {
        border: 2px solid #6A2C70;
        background-color: #e3e3e3;
        color: #6A2C70;
    }

    &::placeholder {
        color: rgba(#6A2C70, 0.8);
    }
}

.security-Input {
  width: 100%;
  border-radius: 100px;
  margin-bottom: 14px;
  padding: 18px 20px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid $primary-color1;
  background-color: rgba(#fff, 0.6);
  color: $primary-color1;
  font-size: 20px;
  line-height: 24px;
  &:hover,
  &:focus {
      border: 2px solid $primary-color1;
      background-color: #e3e3e3;
      color: $primary-color1;
  }
}
::placeholder {
  color: $primary-color1;
}

.answer-Input {
  width: 100%;
  border-radius: 100px;
  margin-bottom: 14px;
  padding: 18px 20px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid $secondary-color1;
  background-color: rgba(#fff, 0.6);
  color: $secondary-color1;
  font-size: 20px;
  line-height: 24px;

  &:hover,
  &:focus {
      border: 2px solid $primary-color1;
      background-color: #e3e3e3;
      color: $primary-color1
  }
  &::placeholder {
      color: $secondary-color1;
  }
}

.btn {
    padding: 0.6rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: -2.76rem;
    cursor: pointer;
}

.input-element-wrapper {
      width: 100%;
}

.resend{
  font-family: $font-body;
  border: 0px;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: $primary-color2;

  &:hover{
    color: $primary-color2;
  }
}
.grey{
  border: 0px;
  background-color: white;
  font-family: $font-body;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color:$secondary-color1;
}

  @media screen and (min-height: 610px) {
    .Auth-form {
      width: 100%;
    }
  
    .Auth-title {
      color: #6A2C70;
      font-size: 40px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 32px;
      margin-top: clamp(0px, 7.5vh, 96px);
    }
  
    .ant-btn.Auth-submit {
      width: 100%;
      padding: 16px 32px;
      line-height: 29px;
      height: 100%;
      margin-top: clamp(0px, 5.5vh, 62px);
    }
  
    .Auth-forgot {
      line-height: 24px;
      margin-left: 20px;
    }
  
    .Auth-terms {
      line-height: 19px;
      padding: 7px 30px;
      margin-bottom: 52px;
    }
    .Auth-terms a {
      font-size: 16px;
      line-height: 16px;
    }
    .Auth-terms-signup {
      line-height: 19px;
      padding: 7px 30px;
      margin-bottom: 52px;
    }
    .Auth-terms-signup a {
      font-size: 16px;
      line-height: 16px;
    }
    .app-Input {
      width: 100%;
      border-radius: 100px;
      margin-bottom: 14px;
      padding: 18px 20px;
      line-height: 24px;
    }
  
    .input-element-wrapper {
      width: 100%;
    }
    .flag {
      padding: 0.2rem;
      margin-top: 19px;
      margin-left: 4px;
    }
    .Input-flag {
      max-width: 15px;
      height: 14px;
    }
    .phone {
      padding-left: 3rem;
    }
    .input-element-wrapper-password {
      width: 100%;
    }
    .btn {
      margin-bottom: 16px;
    }
  }

  .Auth-submit {
  border-radius: 100px !important;
  height: auto !important;
  padding: 18px 54px !important;
  background-color: #6A2C70 !important;
  color: #fff !important;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  border: 2px solid #6A2C70 !important;
  margin: 20px auto 0 !important;
  max-width: 300px !important;
  display: block !important;
  width: 100% !important;

  &:hover,
  &:focus,
  &:active {
    background-color: #6A2C70;
    color: #fff;
    border-color: #6A2C70;
  }
  &:disabled {
    background-color: rgba(#6A2C70, 0.2) !important;
    border: 2px solid #6A2C70 !important;
    color:  #6A2C70 !important;
  }
}

.description{
  color:$primary-color3;
  font-family: $font-body;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 100px;
}

.Answer-submit {
  border-radius: 100px !important;
  margin-top: 100px !important;
  height: auto !important;
  padding: 18px 54px !important;
  background-color: $primary-color1 !important;
  color: #fff !important;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  border: 2px solid $secondary-color2 !important;
  margin: 20px auto 0 !important;
  max-width: 300px !important;
  min-width: 230px !important;
  display: block !important;
  width: 100% !important;
  width: fit-content !important;
  bottom: 1px;

  &btn{
    color: $primary-color1;
  }

  &:hover,
  &:focus,
  &:active {
    background-image: $secondary-color2 !important;
    color: #fff;
    border: none !important;
  }
  &:disabled {
    background-color: rgba($primary-color1, 0.2) !important;
    border: none !important;
    color:  $primary-color1 !important;
  }
}
.Security-Description {
  // margin-top: 80px;
  font-family: $font-body;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $primary-color2;
  margin-bottom: 50px;

}

@media (max-height: 670px) {
  .Security-Description {
      margin-bottom: 50px;
  }
}