.but {
  background-color: #061c62;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.Pain {
  .Question {
    .ant-radio-group {
      &.Options {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .Question-title {
    margin-top: 20px;
    position:relative;
  }
  .question-help {
    position: absolute;
    margin-left: 8px;
    margin-bottom: 4px;
    right: 0px;
    color:$primary-color1 !important;
    //width: 50px;
  }
  .flew-row-question{
    display: flex;
    flex-direction: row;
  }
}

.Slider-Vertical {
  display: flex;
  justify-content: center;

  .Text1,
  .Text2 {
    width: 100px;
    word-wrap: break-word;
    font-size: 17px;
    line-height: 24px;
    color: rgba(#282f28, 0.7);
  }

  .Text1 {
    align-self: flex-end;
  }

  .Text2 {
    align-self: flex-start;
  }

  .Slider {
    height: 350px;
    margin-left: 24px;
    margin-right: 24px;
    &:hover {
      .ant-slider-rail,
      .ant-slider-track {
          background-color: #d9d9d9;
      }
      .ant-slider-handle {
          &:not(.ant-tooltip-open) {
              border: 2px solid #616c61;
          }
      }
  }

  .ant-slider-rail,
  .ant-slider-track {
      background-color: #616c61;
  }
  .ant-slider-handle {
      width: 40px;
      height: 40px;
      border: 2px solid #616c61;
      margin-top: -13px;
      margin-left: -18px;
      &:focus {
          box-shadow: none;
      }
  }
  }
}
//date type

.Exp {
  .Question {
    margin-top: clamp(0px, 8vh, 130px);
    margin-bottom: clamp(0px, 25vh, 260px);
  }

  .Question-title {
    margin-bottom: 50px;
  }
}
//select_many
.Options {
  .ant-radio-button-wrapper,
  .ant-radio-button-wrapper:first-child,
  .ant-radio-button-wrapper:last-child {
    margin: 10px 10px 10px 0;
    border: 2px solid #3A3A3A;
    padding: 12px 20px;
    border-radius: 100px;
    height: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    background-color: transparent;
    color: #3A3A3A;

    &:not(:first-child):before {
      display: none;
    }

    &:hover {
      color: #272424;
    }
  }
  .ant-space {
    flex-wrap: wrap;
  }
  .ant-radio-button-wrapper-checked {
    &:not(.ant-radio-button-wrapper-disabled) {
      background-color: rgba(#3A3A3A,0.2);
      border-color: #3A3A3A;
      color: #3A3A3A;

      &:focus-within {
        box-shadow: none;
      }

      &:hover {
        background-color: rgba(#3A3A3A, 0.2);
        border-color: #3A3A3A;
        color: #3A3A3A;
      }
      &.ant-radio-button-wrapper:first-child {
        border-color: #3A3A3A;
      }
    }
  }
}
.radio-Input {
  //max-width: 40%;
  min-width: 30%;
  border-radius: 100px;
  margin-bottom: 14px;
  padding: 18px 20px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #272424;
  background-color: #fff;
  color: #272424;
  font-size: 20px;
  line-height: 24px;

  &:hover,
  &:focus {
    border: 2px solid #272424;
    background-color: #e3e3e3;
    color: #272424;
  }

  &::placeholder {
    color: rgba(#272424, 0.8);
  }
}

.option {
  margin: 10px 10px 10px 0;
  border: 2px solid #272424;
  padding: 18px 20px;
  border-radius: 100px;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  background-color: #fff;
  color: #272424;
  &:hover {
    color: #272424;
  }
}

.selected-option {
  margin: 10px 10px 10px 0;
  border: 2px solid #272424;
  padding: 18px 20px;
  border-radius: 100px;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  background-color: grey;
  color: #272424;
  &:hover {
    color: #272424;
  }
}

.wrap {
  border: 2px solid #272424;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  display: block;
}

.multi-select {
  padding: 0;
  width: 100%;
  color: #272424 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block !important;
  height: 64px;
}
.next {
  border-radius: 100px;
  height: auto;
  padding: 18px 60px;
  color: #3A3A3A;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;
  display: block;
  border: 2px solid #3A3A3A;
  background-color: #fff;
  margin-right: 4px;
  margin-left: 4px;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(#3A3A3A,0.2);
    color: #3A3A3A;
    border-color: #3A3A3A;
  }
}

.skip {
  border-radius: 100px;
  height: auto;
  padding: 18px 60px;
  color: #CD6052;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;
  display: block;
  background-color: transparent;
  border: 2px solid#CD6052;
  margin-right: 4px;
  margin-left: 4px;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(#3A3A3A,0.2);
    color: #cd6052;
    border-color: #cd6052;
  }
}

.ant-radio-button-wrapper:first-child:last-child {
  border-radius: 100px !important;
}
@media (max-width: 400px) {
  .timepicker {
    margin-left: 20px;
  }
}
.Question-heading{
  margin-bottom: 0 !important;
}
.Question-grp{
  margin-bottom: clamp(0px, 1vh, 50px);
}

@media screen and (max-height: 750px) {
  .Question-heading{
    line-height: 28px !important;
    font-size: 18px !important;
  }
}

@media (max-height: 670px){
  .Options {
    .ant-radio-button-wrapper,
    .ant-radio-button-wrapper:first-child,
    .ant-radio-button-wrapper:last-child {
      margin: 0 10px 10px 0;
      padding: 16px 18px;
      border-radius: 100px;
      height: 100%;

    }
  }
  .Question-heading {
    margin-top: 0 !important;
  }
.ant-tooltip-inner {
  padding: 20px 15px;
  background: white;
  top: 0;
  display: inline-block;
  border-radius: 10px;
  //border: 3px solid red;
  border-bottom-right-radius: 0px;
  z-index: 2;
  max-width: 200px;
  box-shadow: none;
  color: $primary-color2;
}
}
.option-disable {
  pointer-events: none;
  cursor: not-allowed;
}