@import '../../variables.module.scss';

.Title {
  font-size: 36px;
  line-height: 1;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 32px;
  margin-top: 48px;
  font-weight: 400;
  align-items: center;
}

.StreakTitle {
  margin-right: 11px;
}

.StreakInfo {
  justify-content: space-between;
  margin-bottom: 7px;
}

.StreakCount {
  font-size: 14px;
  font-family: $font-title;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
}

.Days {
  line-height: 36px;
  font-size: 12px;
  font-weight: 400;
  font-family: $font-body;
  margin-left: 5px;
}

.TagWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TitleToolTip {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 5px;
  color: $primary-color1;
}

.Tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  margin-left: 2px;
  max-width: 20px;
  width: 100%;
}

.Tag:first-child {
  margin-left: 0;
}

.Tag:last-child {
  margin-right: 0;
}

.StreakPeach {
  background-color: $primary-color3;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.StreakGrey {
  background-color: var(--nimbus, #f0ece7);
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.StreakBlue {
  background-color: $primary-color1;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.StreakDay {
  color: #e2e2e2;
  font-size: 12px;
  font-family: 'lato', sans-serif;
  margin-top: 4px;
  font-weight: 600;
}

.Tooltip {
  color: $primary-color1;
}

.GoalsHeadTitle {
  font-size: 22px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: $primary-color2 !important;
}

.Goal {
  background-color: #f8f8f880;
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
}

.GoalHeadWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GoalTitle {
  font-family: $font-body;
  color: $primary-color2 !important;
  font-weight: 800;
  font-size: 20px;
  line-height: 110%;
}
.HeadingStyle {
  color: #080815;
  font-family: Tilt Warp;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 10px;
  line-height: 36px;
  opacity: 0.8;
}
.GoalsTitleContainer {
  display: flex;
  justify-content: start;
  margin-top: 32px;
  padding-left: 20%;
}
