.Prevn-wrap,
.Stat-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.Stat-wrap {
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}
.Prevn-text {
color: #657FD1;
font-weight: 700;
font-size: 24px;
line-height: 28px;
margin-bottom: 0;
margin-right: 15px;
}
.Prevn-btn {
background: transparent !important;
outline: none !important;
border: none !important;
padding: 0 !important;
}
.Prevn-btn-icon {
    width: 20px;
    height: 20px;
}
.Vel-Eta-wrap {
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.Vel-wrap {
margin-right: 30px;
}
.Vel-name {
color: #D2D1D1;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-bottom: 0;
display: flex;
align-items: center;
}
.Vel-number {
color: #657FD1;
font-weight: 700;
font-size: 30px;
line-height: 33px;
margin-bottom: 0;
display: flex;
align-items: flex-end;
}
.Vel-subs,
.Stat-subs {
color: #D2D1D1;
font-weight: 400;
font-size: 14px;
line-height: 21px;
margin-bottom: 0;
margin-left: 8px;
}
.Stat-subs {
font-size: 16px;
}
.Stat-Single{
display: flex;
align-items: flex-end;
justify-self: center;
margin-top: 20px;
}
.Stat-bar {
width: 150px;
height: 16px;
background-color: #d2d1d196;
border-radius: 10px;
margin-right: 20px;
position: relative;
margin-bottom: 6px;
}
.Stat-bar-progress {
position: absolute;
left: 0;
top: 0;
height: 16px;
border-radius: 10px;
}

.Guidance-title,
.Chart-title {
    text-align: start;
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 10px;
    color: #657FD1;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.Chart-title {
    margin-top: 60px;
}

.Rec-wrap {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    .Rec-Guidance,
    .Selected-Guidance {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 48%;
        padding: 16px;
        border-radius: 16px;
        border: none;
        margin: 8px 3px;
        cursor: pointer;
        text-align: start;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        white-space: normal !important;
        height: auto!important;
    }

    .Cross-btn {
        height: auto !important;
        padding: 0 !important;
        margin-top: -28px;
        margin-right: -8px;
        background-color: transparent !important;
        &:hover,
        &:active {
            background-color: transparent !important;
        }
    }
}