.Corr-title {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: #272424;
    margin-bottom: 30px;
}

.Corr-Description {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    color: #282F28;
    margin-bottom: clamp(0px, 7.5vh, 22px);
}

.Corr {
    .Insite-btn{ 
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        margin-top: 20px;
        .ant-btn {
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: 22px;
            line-height: 27px;
            color: #3A3A3A;
        }
    }
    .Title-wrap {
        display: flex;
        align-items: flex-start;
        margin-top: clamp(0px, 7.5vh, 24px);
        > span {
            margin-top: 20px;
            margin-top: 13px;
            margin-left: 10px;
        }
    }
    .Corr-Title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(#282F28, 0.5);

        svg {
            path {
                fill: #39B42F;
            }
        }
    }
    .Each-Relation {
        padding: 12px 23px 23px 23px;
        background-color: #EBEDF2;
        border-radius: 16px;
        margin-bottom: 14px;
        .Relation-x{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            .ant-btn {
                background-color: transparent;
                padding: 0;
                border: none;
                svg {
                    height: 20px;
                    width: 20px;
                    path {
                        fill: #CD6052;
                    }
                }
            }
        }
    }
    .Text-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Text {
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            color: #282F28;
            margin-right: 10px;
        }
    }

    .Arrow-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        .arrwo {
            margin-right: 8px;
            &.up {
                svg {
                    path {
                        fill: #39B42F;
                    }
                }
            }
            svg {
                height: 40px;
                width: 30px;
                path {
                    fill: #F53F4A;
                }
            }
        }
    }

    .Heart-Btn {
        background-color: #CD6052;
        padding: 15px;
        border-radius: 26px;
        display: block;
        width: 70px;
        height: 70px;
        border: 2px solid #CD6052;
        transform: rotate(45deg);

        svg {
            height: 40px;
            width: 30px;
            transform: rotate(-45deg);

            path {
                fill: #fff;
            }
        }

        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
            border-color: #CD6052;

            svg {
                path {
                    fill: #CD6052;
                }
            }
        }
    }

    .btn.ant-btn {
        width: unset;
    }
}