.goalsContainer {
    width: 100%;
    height: 6.5rem;
    border-radius: 0.3125rem;
    background: linear-gradient(-50deg, #83A5F2 10%, #2C4DC7 68.85%);
    box-shadow: 0px 4px 0px 0px #F0ECE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 13px 0px 13px;
    margin-top: 10px;
}
.goalsLevel {
    width: 100%;
    color: #FFF;
    font-family: Roboto;
    font-size: 0.6rem;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 12px;
    margin-left: 4px;
}
.goalsTitle {
    width: 100%;
    color: #FFF;
    font-family: Tilt Warp;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.10rem;
    margin-bottom: 20px;
    margin-top: 1px;
    margin-left: 4px;
}
.progressBar{
   margin-left: 4px;
}