.goalsContainer {
  width: 100%;
  height: auto;
  border-radius: 0.3125rem;
  background: #8AA4EC;
  box-shadow: 0px 4px 0px 0px #f0ece7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 16px 20px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #8AA4EC;
    z-index: -1;
  }

  &:after {
    content: "";
    width: 345.336px;
    height: 278.555px;
    position: absolute;
    top: -90px;
    left: -80px;
    background: url(../../../public/assets/icons/gradient-blob.svg);
    z-index: -1;
    transform: rotate(-19.355deg);
    background-repeat: no-repeat;
    background-size: 345.336px 278.555px;
  }
}
.goalsLevel {
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
  margin-top: 12px;
  margin-left: 4px;
  line-height: 14px;
}
.goalsTitle {
  width: 100%;
  color: #fff;
  font-family: Tilt Warp;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 20px;
  margin-top: 1px;
  margin-left: 4px;
  opacity: 0.8;
}
.progressBar {
  margin-left: 4px;
}
.progressBar {
  &.ant-progress-line {
    line-height: 1;
    padding-left: 4px;
  }
  .ant-progress-inner {
    background-color: rgba(254, 251, 241, 0.3);
  }
}
