@import '../../../variables.module.scss';

.Auth-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Auth-title {
  color: #6A2C70;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: clamp(0px, 7.5vh, 96px);
}
  
  .Auth-forgot-wrap {
    width: 100%;
  }
  
  .Auth-forgot {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
  
  input {
    background-color: transparent !important;
    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: none;
    }
    &::placeholder {
      background-color: transparent !important;
    }
  }
  .app-Input {
    width: 100%;
    border-radius: 100px;
    margin-bottom: 14px;
    padding: 18px 20px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid $primary-color2;
    background-color: rgba(#fff,0.6);
    color: $primary-color2;
    font-size: 20px;
    line-height: 24px;
  
    &:hover,
    &:focus {
      border: 2px solid $primary-color2;
      background-color: #e3e3e3;
      color: $primary-color2;
    }
  
    &::placeholder {
      color: rgba($primary-color2, 0.8);
    }
  }
  
  .input-element-wrapper {
    width: 100%;
  }
  .flag {
    padding: 0.2rem;
    position: absolute;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: -2.76rem;
    margin-top: 19px;
    margin-left: 4px;
  }
  .Input-flag {
    max-width: 15px;
    height: 14px;
  }
  .phone {
    padding-left: 3rem;
  }
  .input-element-wrapper-password {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    &btn {
      margin-bottom: 4px;
    }
  }
  .btn {
    margin-bottom: 16px;
  }
  .SignupBGWrap {
    position: relative;
  
    .SignupBGShape1 {
      position: absolute;
      background-color: rgba(#F08A5D, 0.15);
      top: -170px;
      right: -150px;
      width: 250px;
      height: 250px;
      border-radius: 100%;
    }
    .SignupBGShape2 {
      position: absolute;
      background-color: rgba(#B83B5E, 0.15);
      top: 0;
      left: -200px;
      width: 300px;
      height: 300px;
      border-radius: 100%;
    }
    .SignupBGShape3 {
      position: absolute;
      background-color: rgba(#6A2C70, 0.32);
      top: 90%;
      right: 50%;
      transform: translateX(50%);
      width: 250px;
      height: 250px;
      border-radius: 100%;
      z-index: -1
    }
  }