//Day Condition or thankyou page
.DayCon {
    .Question {
        margin-top: clamp(0px, 8vh, 130px);
        margin-bottom: clamp(0px, 25vh, 260px);
    }

    .Question-title {
        margin-bottom: 20px;
        text-align: center;
    }

    .Description {
        font-size: 20px;
        line-height: 24px;
        color: #272424;
        font-weight: 500;
        text-align: center;
        margin-bottom: 50px;
    }
}

.submit {
    border-radius: 100px;
    height: auto;
    padding: 18px 60px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
    display: block;
    border: 2px solid #3a4a7e;
    background-color: #3a4a7e;
    &:hover,
    &:focus,
    &:active {
        background-color: #fff;
        color: #3a4a7e;
        border-color: #3a4a7e;
    }
}
