@import '../../components/form-styles/mobile/input';
@import '../../components/form-styles/mobile/password';
.verifyWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .digit-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .inputGroup {
            display: flex;
        }
        input {
            width: 30px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 24px;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            margin: 0 2px;
            &:nth-child(3) {
                margin-right: 15px;
            }
        }
    }
    .prompt {
        margin-bottom: 20px;
        font-size: 20px;
        color: $color-black;
        text-align: center;
    }
    .resend-otp {
        text-decoration: underline;
        cursor: pointer;
        color: #0281ed;
    }
    .resend-otp-disabled {
        cursor: none;
        color: grey;
    }
}
