@import '../../../variables.module.scss';

.Auth-submit {
  width: 100%;
  border-radius: 10px !important;
  padding: 16px 32px !important;
  font-size: 24px !important;
  line-height: 29px !important;
  height: 60% !important;
  background-color: #6A2C70 !important;
  border: 1px solid #6A2C70 !important;
  color: #fff !important;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(#6A2C70,0.7) !important;
    color: #fff;
  }

  &:disabled {
    background-color: rgba(#6A2C70,0.7) !important;
    color: #fff;
    pointer-events: none;
  }
}

.Auth-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Auth-title {
  font-family: 'DM Serif Display', serif;
  color: #6A2C70;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: clamp(0px, 7.5vh, 96px);
}

.Auth-forgot-wrap {
  width: 100%;
}

.Auth-forgot {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.Auth-terms {
  text-align: center;
  font-size: 16px;
  line-height: 15px;
  color: #6A2C70;
  padding: 7px 30px;
  border-radius: 100px;
  background-color: #fff;
  // margin-bottom: 20px;
  //margin-top: 10rem;
}
.SignupBGWrap {
  position: relative;
  height: 100%;
  .SignupBGShape1 {
    position: absolute;
    background-color: rgba(#F08A5D, 0.15);
    top: -170px;
    right: -150px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    z-index: -1
  }
  .SignupBGShape2 {
    position: absolute;
    background-color: rgba(#B83B5E, 0.15);
    top: 0;
    left: -200px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    z-index: -1
  }
  .SignupBGShape3 {
    position: absolute;
    background-color: rgba(#6A2C70, 0.32);
    top: 90%;
    right: 50%;
    transform: translateX(50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    z-index: -1
  }
}
