@import '../../../variables.module.scss';

.Auth-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Auth-title {
  color: rgba($primary-color2,0.7);
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: clamp(0px, 7.5vh, 96px);
}

.Auth-forgot-wrap {
  width: 100%;
}

.Auth-forgot {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.Auth-terms {
  text-align: center;
  font-size: 16px;
  line-height: 15px;
  color: $primary-color2;
  padding: 7px 30px;
  border-radius: 100px;
  background-color: #fff;
  // margin-bottom: 20px;
  //margin-top: 10rem;
}


//test
