@import '../../../variables.module.scss';

.SignupBGWrap {
  position: relative;
  height: 100vh;
  overflow: hidden auto;
  background-image: url('../../../../public/assets/images/background-mobile-auth.png');
  background-repeat: no-repeat;
  background-size: cover;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @media (min-width: 576px) {
    background-image: url('../../../../public/assets/images/background-desktop-auth.png');
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
  }
}
.SignupBGWrap::-webkit-scrollbar {
  display: none;
}

.SignupView {
  padding: 35px 12px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 390px;
  margin: 0 auto;

  @media (min-width: 576px) {
    justify-content: center;
  }
}

.LogoDesktoop {
  display: none;

  @media (min-width: 576px) {
    display: block;
    height: 70px;
  }
}

.LogoMobile {
  display: block;

  @media (min-width: 576px) {
    display: none;
  }
}
