@import '../../variables.module.scss';

.float-label {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
  }
  
  .label {
    font-size: 14px;
    font: $font-body;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    left: 18px;
    top: 25px;
    transition: 0.2s ease all;
    color: rgba(#080815, 0.5);
  }
  .username-float{
    left: 60px;
    top: 18px;

  }
  .label-float {
    left: 18px;
    top: 2px;
    font-size: 10px;
  }
