.cards-video-wrapper {
    background-image: none !important;
    text-align: center;
}

.cards-video-wrapper .css-h93ljk-MuiTypography-root {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    color: #000;
}

.cards-video-wrapper .css-1n06mrc-MuiPaper-root-MuiCard-root {
    display: flex;
    background-color: transparent;
    padding: 0;
    margin: 16px 0;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: '20px' !important;
    margin-top: '20px' !important;
}
.video {
    max-width: '100%';
    min-width: '450px';
    min-height: '300px';
    padding: '16px';
}

.response {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600 !important;
}
.resend-otp {
    text-decoration: underline;
    cursor: pointer;
    color: #0281ed;
    padding: 10px;
}
.resend-otp-disabled {
    cursor: none;
    color: grey;
    padding: 10px;
}

.resend {
    display: flex;
    align-items: center;
    justify-content: center;
}
