.Sub-title {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: #272424;
    margin-top: clamp(0px, 7.5vh, 96px);
    margin-bottom: clamp(0px, 7.5vh, 36px);
}

.Sub {
    .Question {
        margin-bottom: clamp(0px, 8vh, 30px);
        text-align: center;
    }

    .Question-title {
        margin-bottom: 10px;
    }

    .Description {
        font-size: 20px;
        line-height: 24px;
        color: #272424;
        font-weight: 500;
        margin-bottom: 0;
        font-family: "Barlow", sans-serif;
    }

    .Btn-group {
        margin-top: 40px;
        &.quest {
            margin-top: 0;
            display: inline-block;
        }
    }
.ant-carousel{margin-top: 14vh;}
    .ant-carousel .slick-dots li button {
        background: #272424 !important;
    }

    .ant-card-meta {
        justify-content: center;
    }
}
