@import '../../../variables.module.scss';

.ant-tooltip-arrow {
  display: none;
}
.Verification-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
}
.Verification-title {
  font-family: Serif;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  color: $primary-color2;
  margin-top: 50px;
}
.Verification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ant-btn.verification-btn {
  width: 100%;
  border-radius: 100px;
  padding: 16px 32px;
  font-size: 24px;
  color: white;
  line-height: 29px;
  height: 60%;
  margin-top: clamp(0px, 10vh, 62px);
  background-color: rgba(#3a4a7f, 0.57);
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: #3a4a7f !important;
  }

  &:disabled {
    background-color: rgba(#3a4a7f, 0.57) !important;
  }
}
.ant-btn.resendotp-btn {
  width: 100%;
  border-radius: 100px;
  padding: 16px 32px;
  font-size: 24px;
  color: white;
  line-height: 29px;
  height: 20%;
  margin-top: clamp(0px, 5.5vh, 62px);
  background-color: rgba(#3a4a7f, 0.57);
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: #3a4a7f !important;
  }

  &:disabled {
    background-color: rgba(#3a4a7f, 0.57) !important;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.resend-progress {
  height: 5px !important;
}
@media screen and (min-height: 670px) {
  .Verification-form {
    width: 100%;
  }
}
