@import '../../components/form-styles/mobile/input';
@import '../../components/form-styles/mobile/password';

.SingUnForm-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.SingUnForm-error {
  color: red,
}
