@import '../../variables.module.scss';

.TermsBtnWrap {
  background-image: linear-gradient(transparent, white);
  margin: 0 auto;
  bottom: 0;
  border: none;
  padding: 50px 0 0px;
  width: calc(100% - 40px);
  pointer-events: none;
  .TermsBtn {
    border-radius: 100px;
    height: 100%;
    padding: 18px 30px;
    background-color: $primary-color1;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    border: 2px solid $primary-color1;
    margin: 0 auto;
    max-width: 400px;
    display: block;
    pointer-events: auto;
    @media screen and (min-width: 420px) {
      width: 80%;
      padding: 18px 38px;
    }
  
    &:hover,
    &:focus,
    &:active {
      background-image: $secondary-color2;
      color: white;
      border: none !important;
    }
  }
}

