@import '../../../variables.module.scss';

.AddGoals {
  text-align: center;
}
.Title {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 40px;
  color: $secondary-color1;
}
Select {
  max-width: 320px;
  margin: 0 auto;
}
.Goals-title,
.Des-Short,
.Des-Goal {
  text-align: start;
  margin-top: 50px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
  color: $secondary-color1;
  margin-left: 10px;
}
.Health-Goals,
.Rec-wrap {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .Rec-Goal,
  .Selected-Goal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 48%;
    padding: 16px;
    border-radius: 16px;
    border: none;
    margin: 8px 3px;
    cursor: pointer;
    text-align: start;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    white-space: normal !important;
    height: auto !important;
  }

  .Cross-btn {
    height: auto !important;
    padding: 0 !important;
    margin-top: -28px;
    margin-right: -8px;
    background-color: transparent !important;
    &:hover,
    &:active {
      background-color: transparent !important;
    }
  }
}
.Health-Goals {
  justify-content: start;
}

.Selected-Goal {
  align-items: flex-start;
}
.Cross,
.Arrow {
  color: rgba($primary-color2, 0.5) !important;
  font-size: 20px;
}

.Cross {
  font-size: 16px;
}

.Des-Short {
  font-weight: 400;
  margin-top: 20px;
  font-size: 16px;
}
.Des-Goal {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
.Modal-Btn-Group {
  padding-bottom: 50px !important;
}
.LeftIcon {
  text-align: left !important;
  margin-top: 22px;
}
.Backflex {
  flex-direction: row;
}
