@import '../../../variables.module.scss';

.AddGoals {
  text-align: center;
}
.Title {
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
}
Select {
  max-width: 320px;
  margin: 0 auto;
}
.Goals-title{
  font-family: $font-body;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
}
.Goals-Detail-title{
  letter-spacing: -0.01em;
  margin-top: 50px;
  margin-bottom: 10px;
}
.Des-Short,
.Des-Goal {
  font-family: $font-body;
  text-align: left;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 10px;
  color: $primary-color2;
  padding: 4px 0;
  h1, h2, h3 {
    font-family: $font-body;
    color: $primary-color1;
    font-weight: 700 !important;
  }
}


.Selected-Goal {
  align-items: flex-start;
}

.Des-Short {
  font-weight: 400;
  margin-top: 20px;
  font-size: 16px;
}
.Des-Goal {
  font-weight: 400;
  margin-top: 20px;
}

.Modal-Btn-Group{
  background-image: linear-gradient(transparent, white) ;
  // max-width: 520px;
  margin: 0 auto;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 250px 0 50px;
}

.dlt-msg{
  color: $primary-color1;
  font-family: $font-body;
  font-size: 12px;
  text-align: left;
}
.Submit-Button{
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px 0;
}