@import './variables.module.scss';
.ApplicationLayout {
  width: 100%;
  min-height: 100%;
  display: grid;
  // grid-template-rows: $header-height auto;
  grid-template-columns: 1fr;
}
input {
  background-color: transparent;
}
.ant-input.Input {
  border-radius: 100px;
  padding: 18px 20px;
  border: 2px solid $primary-color2;
  background-color: #fff;
  margin-bottom: 14px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: $primary-color2;
  font-weight: 400;

  &:hover,
  &:focus,
  &.Selected {
    border: 2px solid $primary-color2;
    background-color: #e3e3e3;
    color: $primary-color2;
  }

  &::placeholder {
    color: rgba($primary-color2, 0.8);
  }
}
.Pref-checkbox.ant-checkbox-wrapper {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: $primary-color2;
  font-family: 'Barlow', sans-serif;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  .ant-checkbox-inner {
    width: 30px;
    height: 30px;
    border-color: #3a4a7e;

    &:after {
      display: none;
    }
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: #3a4a7e;
      border-color: #3a4a7e;
    }

    ~ span {
      color: #3a4a7e;
    }
  }

  &:hover {
    .ant-checkbox-inner {
      border-color: #3a4a7e;
    }
    .ant-checkbox-checked {
      &:after {
        display: none;
      }
    }
  }
}

.ant-picker {
  width: 100% !important;
}
.ant-picker-focused,
.ant-picker:hover {
  border-color: #3a4a7e !important;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #3a4a7e !important;
}

.Content-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 25px;
}

.Btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-btn {
    border-radius: 100px;
    height: auto;
    padding: 18px 40px;
    color: $primary-color2 !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
    display: block;

    &.Next {
      border: 2px solid $primary-color2;
      background-color: #fff;
      margin-right: 4px;
      margin-left: 4px;

      &:hover,
      &:focus,
      &:active {
        background-color: $primary-color2;
        color: #fff !important;
        border-color: $primary-color2;
      }

      &.active {
        background-color: $primary-color2;
        color: #fff;
        border-color: $primary-color2;
      }
      &.disabled {
        background-color: $primary-color2;
        border: 2px solid $primary-color2;
        color: $primary-color2;
      }
    }

    &.Skip {
      background-color: transparent;
      border: 2px solid $secondary-color2;
      color: $secondary-color2;
      margin-right: 4px;
      margin-left: 4px;
      &:hover,
      &:focus,
      &:active {
        background-color: $secondary-color2;
        color: #fff;
        border-color: $secondary-color2;
      }
      &.disabled {
        background-color: rgba($primary-color1, 0.2);
        border-color: $secondary-color2;
        color: $secondary-color2;
      }
    }
    &.Subscribe {
      border: 2px solid $primary-color1;
      background-color: transparent;
      color: $primary-color1;
      &:hover,
      &:focus,
      &:active {
        background-color: $primary-color1;
        color: #fff;
        border-color: $primary-color1;
      }
      &.Modal-cancel-btn {
        color: $secondary-color2;
        border: 2px solid $secondary-color2;
        &:hover,
        &:focus,
        &:active {
          background-color: $secondary-color2;
          color: #fff;
          border-color: $secondary-color2;
        }
      }
      &.Cancelled {
        color: #fff;
        border-color: $secondary-color2;
        background-color: $secondary-color2;
        &:hover,
        &:focus,
        &:active {
          border-color: $secondary-color2;
          color: #fff;
          background-color: $secondary-color2;
        }
      }
      &.disabled {
        background-color: rgba($primary-color1, 0.2);
        border: 2px solid $primary-color1;
        color: $primary-color1;
      }
    }
  }
}
.Pref-btn.btn.ant-btn,
.btn.ant-btn {
  border-radius: 100px;
  height: auto;
  padding: 18px 54px;
  background-color: transparent;
  color: $primary-color2;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  border: 2px solid $primary-color2;
  margin: 20px auto 0;
  max-width: 400px;
  display: block;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color2;
    color: #fff;
    border-color: $primary-color2;
  }
  &.disabled {
    background-color: rgba(#3a3a3a, 0.2);
    border: 2px solid $primary-color2;
    color: $primary-color2;
  }
  &.Guidance-active-btn,
  &.Inactive-Guidance-active-btn,
  &.Guidance-Inactive-btn {
    padding: 12px 26px;
    font-size: 16px;
    max-width: 220px;
    color: #c91e1e;
    border-color: #c91e1e;
    font-weight: 400;

    &:hover,
    &:focus,
    &:active {
      background-color: #c91e1e;
      color: #fff;
      border-color: #c91e1e;
    }
  }
  &.Guidance-active-btn {
    margin-left: 8px;
    color: #000000;
    border-color: #000000;
    &:hover,
    &:focus,
    &:active {
      background-color: #000000;
      color: #fff;
      border-color: #000000;
    }
  }
  &.Inactive-Guidance-active-btn {
    color: #000000;
    border-color: #000000;
    &:hover,
    &:focus,
    &:active {
      background-color: #000000;
      color: #fff;
      border-color: #000000;
    }
  }
}

.Pref-post-btn {
  border-radius: 80px !important;
  height: 60px !important;
  padding: 10px !important;
  border: 2px solid $primary-color1 !important;
  color: $primary-color1 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  margin: 0 4px 0 !important;
  max-width: 150px !important;
  max-height: 60px !important;
  display: block !important;
  width: 100% !important;
  margin-bottom: 30px !important;

  @media screen and (min-width: 768px) {
    max-width: 300px;
    max-height: unset;
    padding: 18px 30px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color1;
    color: #fff;
    border-color: $primary-color1;
  }

  &.disabled {
    background-color: red;
    border: 2px solid $primary-color1;
    color: $primary-color1;
  }

  &.msg-btn {
    margin-top: 0;
  }
}
.Pref-username-btn {
  border-radius: 80px !important;
  height: 60px !important;
  padding: 10px !important;
  border: 2px solid $primary-color2 !important;
  color: $primary-color2 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  margin: 0 4px 0 !important;
  max-width: 150px !important;
  max-height: 60px !important;
  display: block !important;
  width: 100% !important;
  margin-bottom: 30px !important;
}
.Back-btn.btn.ant-btn {
  background-color: transparent;
  color: $secondary-color2;
  border: 2px solid $secondary-color2;

  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-color2;
    color: #fff;
    border-color: $secondary-color2;
  }
}
.Question-title {
  font-size: 25px;
  line-height: 27px;
  font-weight: 300;
  color: $primary-color2;
  margin-top: 10px;
}

.ant-select.Select-Wrap {
  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      border: none;
    }
  }
}
.Select-Wrap {
  border: 2px solid $primary-color2;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  display: block;
  .ant-select {
    padding: 0;
    width: 100%;
    color: $primary-color2 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block !important;
    height: 64px;

    &.ant-select-multiple {
      height: 100%;

      .ant-select-selection-placeholder {
        left: 40px;
      }

      .ant-select-selector {
        width: 100%;
      }
      .ant-select-selection-item-remove {
        margin-right: 12px;
      }
      &.ant-select-focused {
        .ant-select-selection-search-input {
          height: 100% !important;
          padding: 0 !important;
        }
      }
    }

    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        border: none;
        display: inline-block;
        padding: 17px 40px;
        border-radius: 100px;
        height: 100%;

        &::after {
          display: none;
        }
      }
      .ant-select-selection-search-input {
        height: 100% !important;
        padding: 17px 30px 17px 40px !important;
      }
    }
    .ant-select-arrow {
      display: none;
    }
    .ant-select-selection-placeholder {
      color: $primary-color2;
      font-size: 20px;
      line-height: 24px;
      margin-left: 10px;
      text-align: start;
    }
    .ant-select-focused {
      padding: 18px 32px;
    }

    &.ant-select-focused {
      &:not(.ant-select-disabled) {
        &:not(.ant-select-customize-input) {
          .ant-select-selector {
            border: none;
            display: inline-block;
            box-shadow: none;

            &::after {
              display: none;
            }

            .ant-select-selection-search-input {
              padding: 16px 32px;
              height: 64px;
              color: $primary-color2;
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }
    .ant-select-selection-item {
      display: block;
      margin-left: 10px;
    }
  }

  .anticon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &.anticon-search {
      left: 20px;
      font-size: 20px;
    }

    &.anticon-down {
      right: 20px;
    }
  }
}
.Goal-Select-Wrap {
  border: 2px solid $primary-color2;
  border-radius: 100px;
  position: relative;
  display: block;
  .ant-select {
    color: $primary-color2 !important;
    padding: 0;
    width: 100%;
    font-size: 20px !important;
    line-height: 24px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block !important;
    height: 64px;

    .ant-select-selection-placeholder {
      color: $primary-color2;
    }

    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        border: none;
        display: inline-block;
        padding: 17px 40px;
        border-radius: 100px;
        height: 100%;

        &::after {
          display: none;
        }
      }
      .ant-select-selection-search-input {
        height: 100% !important;
        padding: 17px 30px 17px 40px !important;
      }
    }

    &.ant-select-focused {
      &:not(.ant-select-disabled) {
        &:not(.ant-select-customize-input) {
          .ant-select-selector {
            .ant-select-selection-search-input {
              color: $primary-color2;
            }
          }
        }
      }
    }
  }

  .anticon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: $primary-color2;

    &.anticon-search {
      left: 20px;
      font-size: 22px;
    }

    &.anticon-down {
      font-size: 18px;
      right: 20px;
    }
  }
}
.ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
  border: 2px solid $primary-color2;
  border-radius: 30px;
  padding: 20px;
  color: $primary-color2;
  font-size: 20px;
  line-height: 24px;
}
.Toastify__toast {
  margin-top: 52px;
}

.Spinner {
  &.ant-spin {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
  }
}

.Cancel-btn.btn.ant-btn,
.btn.ant-btn {
  border-radius: 100px;
  height: 100%;
  padding: 18px 54px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  background-color: $secondary-color2;
  border: 2px solid $secondary-color2;
  margin: 20px auto 0 !important;
  max-width: 400px;
  display: block;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    color: $secondary-color2;
    border-color: $secondary-color2;
  }
}

.Goals-Modal .ant-modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
}
.Text .ant-typography {
  font-family: 'Raleway', sans-serif;
  text-align: start;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: $primary-color2 !important;
}
.ant-picker.Date-Select {
  padding: 18px 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  border-radius: 100px;
  border: 2px solid $primary-color2;
  color: rgba($primary-color2, 0.7);
  max-width: 100%;
  display: block;
  &.ant-picker-focused,
  &:hover,
  &:focus,
  &:active {
    border: 2px solid $primary-color2;
    box-shadow: none;
    background-color: #e3e3e3;
    outline: none;
  }
  input {
    font-size: 20px;
    line-height: 24px;
    color: rgba($primary-color2, 0.7);
    font-weight: 400;
  }
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 50vw;
  }
  .Toastify__toast-container--top-right {
    margin-left: 50vw;
  }
}
.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      display: none;
    }
    .ant-tooltip-inner {
      font-size: 110%;
      color: $primary-color1;
      background-color: white;
      padding: 10px 15px;
      border: 2px solid $primary-color1;
      border-radius: 24px;
    }
  }

  &.ant-tooltip-placement-bottom,
  &.ant-tooltip-placement-bottomLeft,
  &.ant-tooltip-placement-bottomRight {
    padding-top: 0;
  }
}

.Pref-slider.ant-slider {
  margin: 4px 0 14px;

  &:hover {
    .ant-slider-rail,
    .ant-slider-track {
      background-color: #616c61;
    }
    .ant-slider-handle {
      &:not(.ant-tooltip-open) {
        border: 2px solid #616c61;
      }
    }
  }

  .ant-slider-rail,
  .ant-slider-track {
    background-color: #616c61;
  }
  .ant-slider-handle {
    width: 30px;
    height: 30px;
    border: 2px solid #616c61;
    margin-top: -13px;

    &:focus {
      box-shadow: none;
    }
  }
}

.Question-Slider-Vertical {
  display: flex;
  justify-content: center;

  .Slider {
    height: 350px;
    margin-left: 24px;
    margin-right: 24px;
    &:hover {
      .ant-slider-rail,
      .ant-slider-track {
        background-color: $primary-color2;
      }
      .ant-slider-handle {
        &:not(.ant-tooltip-open) {
          border: 2px solid $primary-color2;
        }
      }
    }

    .ant-slider-rail,
    .ant-slider-track {
      background-color: $primary-color2;
    }
    .ant-slider-handle {
      width: 40px;
      height: 40px;
      border: 2px solid $primary-color2;
      margin-top: -13px;
      margin-left: -18px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.ant-input.NumberInput {
  padding: 18px 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  width: 100%;
  border-radius: 100px;
  border: 2px solid $primary-color2;
  color: rgba($primary-color2, 0.7);
  max-width: 300px;
  display: block;
  margin: 0 auto;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $primary-color2;
    box-shadow: none;
    background-color: #e3e3e3;
    outline: none;
  }
}

.Question-Options {
  color: $primary-color2 !important;
  .ant-radio-button-wrapper,
  .ant-radio-button-wrapper:first-child,
  .ant-radio-button-wrapper:last-child {
    margin: 10px 10px 10px 0;
    border: 2px solid $primary-color2;
    padding: 12px 20px;
    border-radius: 100px;
    height: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    background-color: transparent;
    color: $primary-color2;

    &:not(:first-child):before {
      display: none;
    }

    &:hover {
      color: $primary-color2;
    }
  }
  .ant-space {
    flex-wrap: wrap;
  }
  .ant-radio-button-wrapper-checked {
    &:not(.ant-radio-button-wrapper-disabled) {
      background-color: $primary-color2;
      border-color: $primary-color2;
      color: #fff;

      &:focus-within {
        box-shadow: none;
      }

      &:hover {
        background-color: $primary-color2;
        border-color: $primary-color2;
        color: #fff;
      }
      &.ant-radio-button-wrapper:first-child {
        border-color: $primary-color2;
      }
    }
  }
}
@media (max-width: 400px) {
  .timepicker {
    margin-left: 20px;
  }
}

.Options {
  .ant-radio-button-wrapper,
  .ant-radio-button-wrapper:first-child,
  .ant-radio-button-wrapper:last-child {
    margin: 10px 10px 10px 0;
    border: 2px solid $primary-color2;
    padding: 12px 20px;
    border-radius: 100px !important;
    height: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    background-color: transparent;
    color: $primary-color2;

    &:not(:first-child):before {
      display: none;
    }

    &:hover {
      color: #fff;
    }
  }
  .ant-space {
    flex-wrap: wrap;
  }
  .ant-radio-button-wrapper-checked {
    &:not(.ant-radio-button-wrapper-disabled) {
      background-color: $primary-color2;
      border-color: $primary-color2;
      color: $primary-color2;

      &:focus-within {
        box-shadow: none;
      }

      &:hover {
        background-color: $primary-color2;
        border-color: $primary-color2;
        color: #fff;
      }
      &.ant-radio-button-wrapper:first-child {
        border-color: $primary-color2;
      }
    }
  }
}
.grecaptcha-badge {
  visibility: hidden;
}
.dsgbtn-group {
  padding-top: 75px;
}
.Guidance-Modal {
  img {
    display: block;
    margin: 0 auto;
  }
  &.ant-modal {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .ant-modal-close {
    margin-left: 16px;
    right: unset;
  }
  .ant-modal-body {
    padding-top: 70px;
  }
}

.Switch-btn-wrap {
  .ant-switch {
    background: white;
    height: 60px;
    min-width: 150px;
    border: 2px solid $primary-color2;
    &.ant-switch-checked {
      background-color: white;
      .ant-switch-handle {
        left: calc(100% - 60px);
      }
    }
    .ant-switch-handle {
      width: 65px;
      height: 60px;
      top: calc(100% - 58px);
      left: calc(100% - 150px);
      &:before {
        background-color: white;
        border-radius: 30px;
        border: 2px solid $primary-color2;
      }
    }
    .ant-btn {
      padding: 0;
      // margin-left: 10px;
      border: none;
    }
  }
}

.PhoneInputInput {
  font-weight: 600;
}
