@import url("https://fonts.googleapis.com/css?family=Barlow:400,400i,500,600");
@import "./variables";

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

.ant-typography.Title {
    color: $color-navy;
    font-weight: 500;
}
