$primary-color1: #3A3A3A;
$primary-color2: #272424;
$secondary-color1: #657fd1;
$secondary-color2: #CD6052;
// $primary-color1: #B83B5E;
// $primary-color2: #6A2C70;
// $secondary-color1: #6A2C70;
// $secondary-color2: #F08A5D;

:export {
    primary-color1: $primary-color1;
    primary-color2: $primary-color2;
    secondary-color1: $secondary-color1;
    secondary-color2: $secondary-color1;
}

// Fonts

$font-family: 'Barlow', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 800;

// Colors

$color-navy: #061c62;
$color-navy-light: #061c6222;
$color-blue: #183284;
$color-dark-blue: #001529;
$color-light-blue: #4b5fcc;
$color-light-blue2: #393c89;
$color-light-blue3: #7a8b9b;
$color-light-blue4: #5c6976;
$color-light-blue5: #b4b4b9;
$color-sky-blue: #1071e6;
$color-pale-blue: #f2f5f7;
$color-red: #bc1919;
$color-error: #f5222d;
$color-purple: #6839ec;
$color-orange: #ffa835;
$color-orange2: #743e08;
$color-yellow: #e6c900;
$color-lime: #c2d833;
$color-green: #15841c;
$color-green2: #5dc44c;
$color-charcoal: #252931;
$color-grey-1: #707071;
$color-grey-2: #9e9ea3;
$color-grey-3: #c3c4c6;
$color-grey-4: #ebeced;
$color-grey-5: #f5f5f5;
$color-grey-6: #f7f7f7;
$color-grey-7: #343434;
$color-grey-8: #49494b;
$color-grey-9: #e5e5e5;
$color-grey-10: #868686;
$color-grey-11: #636467;
$color-grey-12: #00000026;
$color-grey-13: #8c8c8c;
$color-grey-14: #4d4d4d;
$color-grey-15: #6d7278;
$color-white: #ffffff;
$color-black: #000000;
$color-black-2: #252931;

// Redesign
$color-dark-gray: #5e5e5e;
$color-grey-16: #b9b9b9;
$color-grey-17: #f8f8f8;
$color-red-2: #f84846;
$color-grey-18: #c4c4c4;
$color-sky-blue-2: #0085ff;
$color-orange-3: #ff7a3c;
$color-yellow-2: #febe19;
$color-dark-grey-2: #555555;
$color-light-purple: #6e85d4;
$color-green-2: #18be45;
$color-grey-19: #979797;
$color-grey-20: #f5f5f5;
$color-grey-21: #ebebeb;
$color-grey-22: #e8e9ed;
$color-grey-23: #b5b5b5;
$color-grey-24: #dcddde;
$color-grey-25: #eaeaea;
$color-grey-26: #cccccc;
$color-grey-27: #ececec;
$color-grey-28: #e8e8e8;
$color-grey-29: #bfbfbf;
$color-grey-30: #f1f1f1;
$color-grey-31: #b9bdc4;
$color-grey-32: #fafafa;

$filter-color-red: invert(15%) sepia(66%) saturate(4166%) hue-rotate(352deg)
    brightness(100%) contrast(94%); // #BC1919
$filter-color-blue: invert(17%) sepia(47%) saturate(2635%) hue-rotate(212deg)
    brightness(95%) contrast(104%); // #183284
$filter-color-sky-blue: invert(42%) sepia(56%) saturate(5667%)
    hue-rotate(194deg) brightness(103%) contrast(105%); // #0085FF
$filter-color-blue-hover: invert(23%) sepia(96%) saturate(625%)
    hue-rotate(192deg) brightness(95%) contrast(91%); // #314b91
$filter-color-light-blue: invert(18%) sepia(57%) saturate(2061%)
    hue-rotate(224deg) brightness(92%) contrast(92%); // #363584
$filter-color-to-gray: invert(36%) sepia(0%) saturate(20%) hue-rotate(206deg)
    brightness(92%) contrast(87%); // #595959
$filter-color-to-gray2: invert(87%) sepia(1%) saturate(279%) hue-rotate(164deg)
    brightness(93%) contrast(86%); // #C3C4C6
$filter-color-to-gray3: invert(76%) sepia(33%) saturate(0%) hue-rotate(282deg)
    brightness(90%) contrast(89%); // #B5B5B5
$filter-color-to-gray4: invert(85%) sepia(9%) saturate(0%) hue-rotate(157deg)
    brightness(80%) contrast(94%); // #AEAEAE
$filter-color-to-gray5: invert(64%) sepia(7%) saturate(147%) hue-rotate(202deg)
    brightness(97%) contrast(90%); //#252931
$filter-color-to-green: invert(49%) sepia(42%) saturate(473%) hue-rotate(79deg)
    brightness(94%) contrast(92%); // #4B9358
$filter-color-to-green2: invert(64%) sepia(75%) saturate(5276%)
    hue-rotate(106deg) brightness(109%) contrast(81%); // #18be45
$filter-color-to-white: brightness(0) invert(1); // #FFFFFF
$filter-color-to-yellow: invert(86%) sepia(15%) saturate(5818%)
    hue-rotate(344deg) brightness(103%) contrast(99%); // #FEBE19
$filter-color-to-orange: invert(55%) sepia(38%) saturate(1287%)
    hue-rotate(333deg) brightness(102%) contrast(101%); // #FF7A3B
$filter-color-to-violet: invert(24%) sepia(49%) saturate(5767%)
    hue-rotate(250deg) brightness(93%) contrast(99%); // #6839EC
$filter-color-to-black: invert(0%) sepia(8%) saturate(7498%) hue-rotate(345deg)
    brightness(103%) contrast(95%); // #000

// Layouts

$header-height: 40px;
$footer-height: 0px;
$page-header-height: 50px;

// Screen resolutions

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// TODO: Review and filter

$xs: 32rem;
$sm: 48rem;
$md: 62rem;
$lg: 75rem;

$background-signup: url('/assets/images/image-toSize.png');
$down-arrow: url('/assets/icons/down-arrow.svg');
$up-arrow: url('/assets/icons/up-arrow.svg');
$error-icon: url('/assets/icons/error.svg');
$canadian-flag: url('/assets/images/Canadian_Flag.png');
