@import '../../variables.module.scss';

.touch-input {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 100%;

  &:disabled {
    cursor: default;
  }
}

.info-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.error-tooltip {
  display: none;
  position: absolute;
  right: 25px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.info-icon:hover .error-tooltip {
  display: block;
}

#phone-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 100%;
  color: #000;
  background: none;

  &::placeholder {
    color: #000;
    opacity: 0.5;
    font-size: 14px;
  }
}